<div class="row">
  <div class="col-md-offset-5 col-sm-offset-5">
    <br><br><%=link_to 'Cadastrar Cozinha', new_kitchen_path, class: 'btn btn-info' %>
    <%=link_to 'Listar Cozinhas', kitchens_path, class: 'btn btn-info' %>
    <br><br><%=link_to 'Cadastrar Refeição', new_meal_path, class: 'btn btn-info' %>
    <%=link_to 'Listar Refeições', meals_path, class: 'btn btn-info' %>
    <br><br><%=link_to 'Cadastrar Preferência', new_kind_path, class: 'btn btn-info' %>
    <%=link_to 'Listar Preferências', kinds_path, class: 'btn btn-info' %>
  </div>
</div>
