<div class="container col-md-6 col-md-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="center-block">
          <h1> Nova receita </h1>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="category_form">
        <%= simple_form_for @recipe do |f| %>
          <%= f.input :recipe, label: 'Nome da receita', error: 'Campo obrigatório' %>
          <%= f.input :kitchen, label: 'Cozinha', collection: [:Italiana, :Espanhola], error: 'Campo obrigatório' %>
          <%= f.input :food, label: 'Comida', collection: [:'Café da manhã', :Sobremesa], error: 'Campo obrigatório' %>
          <%= f.input :kind, label: 'Preferência', collection: [:Carnes, :Doces], error: 'Campo obrigatório'  %>
          <%= f.input :quantity, label: 'Quantidade', collection: 1..12 %>
          <%= f.input :time, label: 'Tempo de preparo', collection: [:'5~15 Minutos', :'15~30 Minutos', :'30~60 Minutos', :'60~120 Minutos'] %>
          <%= f.input :difficulty, label: 'Dificuldade', collection: [:Fácil, :Médio, :Difícil] %>
          <%= f.input :ingredients, label: 'Ingredientes', error: 'Campo obrigatório' %>
          <%= f.input :steps, label: 'Passo a passo', error: 'Campo obrigatório' %>
          <%= f.input :upload, as: :file, label: 'Arquivo' %>
      </div>
      <div class="category_submit">
        <%= f.submit 'Adicionar Receita', class: "btn btn-md btn-info" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
