<h1><%= @recipe.recipe  %></h1>
<li><%= @recipe.kitchen  %></li>
<li><%= @recipe.kind  %></li>
<li><%= @recipe.food  %></li>
<li><%= @recipe.quantity  %></li>
<li><%= @recipe.time  %></li>
<li><%= @recipe.difficulty  %></li>
<li><%= @recipe.ingredients  %></li>
<li><%= @recipe.steps  %></li>
<%= image_tag @recipe.upload.url(:medium)  %>
